*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color:#FAF8ED;
    font-family: "inter"
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 24px 135px;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 16px;
    margin-bottom: 89px;
}
.navigation{
    display: flex;
    justify-content: space-between;
    gap: 72px;
    align-items: center;
}
.logos{
    display: flex;
    gap: 36px;
}
.logos a{
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #2E476B;
    text-decoration: none;
}
.booking{
    display: flex;
    gap: 6px;
    align-items: center;
    border: 1.4px solid #F66F4D;
    border-radius: 27px;
    padding: 20px 34px
}
.booking span{
    font-weight: 500;
    color: #F66F4D;
}

.main{
    padding: 0 135px;
    display: flex;
    flex-direction: column;
    gap: 61px;
   
}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.title h1{
    font-weight: 600;
    font-size: 56px;
    line-height: 66px;
    color: #2D3134;
}
.title p{
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #5B5F62;
}
.title nav{
    display: flex;
    gap: 34px;    
}

.title nav a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #2D3134;
    border: 1px solid #3D3D3D;
    border-radius: 30px;
    text-decoration: none;
    padding: 10px 20px;
}
title nav a :hover{
    color: #2D3134;
}

.gridsection{
    margin-bottom: 84px;
    display: grid;
    justify-content: center;
    grid-template-columns: 1.6fr 2fr 1fr 1.6fr;
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: 
    "one two three three three " 
     "four two five six six";
     gap: 13px 30px;
}

.pic1{
   grid-area:one;
   position: relative;
   text-align: left;
} 
.pic2{
    grid-area: two;
    position: relative;
    text-align: left;
}
.pic3{
    grid-area: three;
    position: relative;
    text-align: left;
}
.pic4{
    grid-area: four;
    position: relative;
    text-align: left;
}
.pic5{
    grid-area: five;
    position: relative;
    text-align: left;
}
.pic6{
    grid-area: six;
    position: relative;
    text-align: left;
}

.gridsection img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    position: relative;
}

.numbers{
    position: absolute;
    top: 24px;
    left: 24px;
    background: #FFFFFF;
    border-radius: 12px;
    padding: 5px 10px ;
}
.vietnam{
    position: absolute;
    bottom: 48px;
    left: 24px;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}
.worefall{
    position: absolute;
    bottom: 14px;
    left: 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    text-decoration: none;
}

.footer{
    display: flex;
    justify-content: space-between;
    padding: 0  135px 55px;
    font-weight: 400;
    font-size: 14px;
    line-height: 34px;
    color: #676A6C;
}

.flogo{
    display: flex;
    flex-direction: column;
    gap: 20px
}
.flogo a{
    font-size: 16px;
    line-height: 26px;
    color: #5B5F62;
    text-decoration: none;
}

.fnav{
    display: flex;
    gap:113px;
}
.fnav nav{
    display: flex;
    flex-direction: column;
}
.fnav nav a{
    text-decoration: none;
    color: #676A6C
}